
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
}

nav a{
margin:0 10px;
text-decoration:none;
color:white;
}

.home{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.name{
color:#38bdf8;
}

.resume-btn{
background:#38bdf8;
padding:8px 15px;
border-radius:6px;
text-decoration:none;
color:black;
}

.glass{
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
padding:20px;
border-radius:10px;
}

.project-grid{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:40px;
}

.card{
width:250px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

input,textarea{
padding:10px;
border-radius:5px;
border:none;
}

button{
padding:10px;
background:#38bdf8;
border:none;
cursor:pointer;
}

h2{
text-align:center;
margin-top:60px;
}
